@CHARSET "ISO-8859-1";
.origem_gerar{
	color: #ffffff;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 10px;
}
.campo_origem{
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 10px;
}
.destino_gerar{
	color: #ffffff;
}
.campo_destino{
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 40%;
}
.bus_gerar{
	color: #ffffff;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 10px;
}
.btn_bus{
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 10px;
}
.btn_rota{
	margin-left:50px;
	margin-bottom: 2%;
	margin-top: 2%;
	margin-right: 10px;
}